@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

/* 코드 관련 스타일 */
code, pre, .code-block {
  font-family: 'JetBrains Mono', monospace;
} 